In [14]:
import pandas as pd

In [15]:
file_path = 'dhaka_real_estate.csv'
df = pd.read_csv(file_path)

In [16]:
df.columns = df.columns.str.strip()

In [17]:
df['Area_sqft'] = pd.to_numeric(df['Area_sqft'], errors='coerce')

In [18]:
df['Price_BDT'] = df['Price_BDT'].replace({'BDT': '', 'Crore': 'e7', 'Lakh': 'e5'}, regex=True)
df['Price_BDT'] = pd.to_numeric(df['Price_BDT'], errors='coerce')

In [19]:
df = df.dropna(subset=['Price_BDT', 'Area_sqft'])

In [20]:
df = df.drop_duplicates()

In [21]:
# Filter the dataset to keep only the rows where the 'For' column is 'Sell'
df_cleaned_sell_only = df[df['For'] == 'Sell']

# Save the cleaned dataset with only "Sell" properties
df_cleaned_sell_only.to_csv('cleaned_dhaka_real_estate.csv', index=False)

# Display the first few rows of the cleaned data to verify
df_cleaned_sell_only.head()

,Location,Area_sqft,Price,Price_BDT,Bedroom,Bathroom,Floor,For,Property_Type,URL
0,"Uttara, Dhaka",1437,BDT 1.45 Crore,14500000.0,3,2.0,8,Sell,Flat,https://brokeragebd.com/property/1437-sft-3-be...
1,"Mirpur, Dhaka",1257,BDT 1.26 Crore,12600000.0,3,3.0,2,Sell,Flat,https://brokeragebd.com/property/1257-sft-3-be...
2,"Uttarkhan, Dhaka",935,BDT 53 Lakh,5300000.0,2,3.0,7,Sell,Flat,https://brokeragebd.com/property/945-sft-2-bed...
3,"Dhanmondi, Dhaka",2395,BDT 6.68 Crore,66800000.0,3,3.0,12,Sell,Flat,https://brokeragebd.com/property/2395-sft-3-be...
4,"Adabor, Dhaka",1125,BDT 85 Lakh,8500000.0,2,2.0,8,Sell,Flat,https://brokeragebd.com/property/960-sft-2-bed...